.serchingList {
    background-color: floralwhite;
    margin: 2%;
    padding: 5px 0;
}
.serchingList p {
    text-decoration: none!important;
    font-weight: bold;
}

.serchingList p span {
    font-weight: normal;
}

.searchContainer {
    background-color: whitesmoke;
}